*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}
html {
    font-size: 60%;
    overflow-x: hidden;

}
:root {
    --bg-color: rgb(28, 32, 36);
    --bg-secondary-color: #2f4f4f;
    --text-color: #f0f0f0;
    --main-color: #3d6666;
    --accent-color: #ff6347;
}
body {
    background-color: var(--bg-color)

}

header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-secondary-color);
    opacity: 80%;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon {
    font-size: 2.5rem;
    color: var(--main-color);
    display: none;
}

.nav-icon {
    width: 3rem;
}
.nav-icon:hover {
    transform: scale(1.1);
    transition: .4s ease;
    left: 5%;
}
.nav-bar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: bolder;
    transition: 0.3s ease;
    padding: 1rem;
    letter-spacing: .2ch;
}
.nav-bar a:hover {
    color: var(--accent-color);
    transition: 0.3s ease; 
}
section {
    min-height: 100vh;
    padding: 10rem 12%;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home h1 {
    font-size: 7rem;
    color: var(--accent-color);
    font-weight: bolder;
    padding: 2rem 0;
}
.home p {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-top: 2rem;
}
.social-links img {
    height: 4rem;
    margin: 3rem 1rem;
}
